<% provide(:title, "Contact Us") %>
<div class="center jumbotron">
  <h1 class="text-center">Contact Us</h1>
</div>
<div class="row">
  <div class="col-xs-12 col-md-4">
  </div>
  <div class="col-xs-12 col-md-4">
      <form action="mailto:s3530160@student.rmit.edu.au">
      <div class="form-group">
          <input class="form-control" type="text" name="name" placeholder="Name">
      </div>
      <div class="form-group">
          <input class="form-control" type="email" name="email" placeholder="Email">
      </div>
      <div class="form-group">
          <textarea class="form-control" type="text" name="body" placeholder="Message"></textarea>
      </div>
      <div class="form-group">
          <input class="btn btn-primary btn-block" type="submit" value="Send">
      </div>
      </form>
  </div>
  <div class="col-xs-12 col-md-4">
  </div>
</div>