<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#Courses">Courses</a></li>
  <li><a data-toggle="tab" href="#Coordinators">Coordinators</a></li>
</ul>

<div class="tab-content">
  <div id="Courses" class="tab-pane fade in active">
    <% courses.each do |course| %>
      <%= render 'shared/course', course: course %>
    <% end %>
  </div>
  <div id="Coordinators" class="tab-pane fade">
    <% courses.select(:user_id).distinct.each do |course| %>
      <%= render 'shared/user', course: course %>
    <% end %>
  </div>
</div>