<div class="container">
  <div class="row clearfix well">
    <div class="float_left padding_right">
      <%= gravatar_for course.user, size: 220 %>
    </div>
    <div class="">
      <!--Course Coordinator Name-->
      <h3><%= link_to course.user.name, user_path(:id => course.user.id)%></h3>
      <!--Course Coordinator Email-->
      <p><strong>Coordinator Email: </strong><%= course.user.email %></p>
      <!--Courses-->
      <p><strong>Courses:</strong>
        <%= course.user.courses.collect { |c| link_to c.name, course_path(c.id) }.join(", ").html_safe %>
      </p>
      <!--Admin-->
      <% if is_admin? %>
        <p><strong>Is Admin:</strong>
        <% if course.user.admin? %>
          Yes
        <% else %>
          No
        <% end %>
      <% end %>
      </p>
    </div>
  </div>
</div>