<% provide(:title, 'Edit Course') %>
<h1>Edit <%= @course.name %> course</h1>
<p class="lead">Enter a name for a course.</p>
<%= render 'form', course: @course, url: course_path(@course), method: :put %>