<% provide(:title, 'All Courses') %>
<% if (@courses.present?) %>
  <h1 class="text-center page_header">All Courses</h1>
  <%= render 'shared/courses', courses: @courses %>
<% else %>
  <%= render 'shared/error_page', heading: 'Courses Not Found', message: "Cannot find any courses in All Courses. Please create one by logging in as a user." %>
<% end %>