<% provide(:title, 'Edit Category') %>
<h1>Edit <%= @category.name %> category</h1>
<p class="lead">Enter a name for a category.</p>
<%= render 'form', category: @category, url: category_path(@category), method: :put %>