<% provide(:title, @location.name) %>
<% if (@courses.present?) %>
  <h1 class="text-center page_header"><%= @location.name %></h1>
  <%= render 'shared/courses', courses: @courses %>
<% else %>
  <%= render 'shared/error_page', heading: 'Locations Not Found', message: "Cannot find any courses in #{@location.name}. Please create one by logging in as a user." %>
<% end %>