<footer class="footer">
  <div class="container">
    <small>
      RMIT RAD Assignment Stage 1 & 2 | By Elliot Schot <a href="mailto:s3530160@student.rmit.edu.au">s3530160@student.rmit.edu.au</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Contact", new_message_url %></li>
      </ul>
    </nav>
  </div>
</footer>