<footer class="footer">
  <div class="container">
    <small>
      <a href="https://www.rmit.edu.au/" target="_blank">RMIT</a> <a href="http://www1.rmit.edu.au/courses/051833" target="_blank">RAD</a> Assignment Stage 1 & 2 By <a href="https://github.com/rmit-s3530160-elliot-schot" target="_blank">Elliot Schot</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Contact", new_message_url %></li>
      </ul>
    </nav>
  </div>
</footer>

